


<!-- <button (click)="getdata()">Click</button> -->
<!-- <h1>get</h1>
 <div *ngFor = "let Data of this.Ship_Data;let i = index" >
   {{Data.lat}} 
    {{Data.long}} 
</div> -->

<agm-map  [latitude]="39.9" [longitude]="-0.16" (mapClick)="mapReady()">
     <agm-marker  *ngFor="let machine of gps_lats; index as i" 
                  [latitude]="gps_lats[i]"
                  [longitude]="gps_longs[i]" 
                  [agmFitBounds]="true"
                  [iconUrl]='{"url":"assets/Shape.svg","scaledSize": {"height": 10, "width": 10}}'
                  (mouseOver)="onMouseOver(infoWindow, $event)" 
                   (mouseOut)="onMouseOut(infoWindow, $event)">
                  <agm-info-window [disableAutoPan]="false" #infoWindow>

                    <div>
                        <b>MMSI : {{gps_mmsi[i]}}</b><br>
                        <b>ShipType : {{gps_shiptype[i]}}</b><br>
                        <b>Shiptype_Text : {{gps_shiptype_text[i]}}</b><br>
                        <b>Destination : {{gps_destination[i]}}</b><br>
                        <b>Latitude : {{gps_lats[i]}}</b><br>
                        <b>longitude : {{gps_longs[i]}}</b><br>
                        <b>Status : {{gps_status[i]}}</b><br>
                        <b>StatusText : {{gps_status_text[i]}}</b><br>
                        <b>Speed : {{gps_speed[i]}}</b><br>
                        <b>TimeStamp : {{gps_second[i]}}</b><br>
                        <b>RadioStation : {{gps_radio[i]}}</b><br>
                        <b>ShipName : {{gps_shipname[i]}}</b><br>


                        <!-- <span></span><br>
                        <span>longitude : {{gps_longs[i]}}</span><br>
                        <span>redio : {{gps_redio[i]}}</span> -->
                    </div>
                   
        
                </agm-info-window>


                </agm-marker>
  </agm-map>
<router-outlet></router-outlet>